.weeksCar{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0px 50px;
    .top{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left{
            display: flex;
            align-items: center;
            gap: 10px;

            .highlight{
                height: 40px;
                width: 4px;
                background-color: red;
            }

            h2{
                text-transform: uppercase;
                font-weight: 500;
            }
        }

        .right{
            display: flex;
            align-items: center;
            gap: 5px;
            border: 1px solid red;
            border-radius: 0.5rem;
            margin: 0px 8px 8px 0px;
            padding: 10px 20px;

            &:hover{
                background-color: red;
                color: white;
            }

            img{
                height: 1.25rem;
                width: 1.5rem;
            }

            button{
                border: none;
                background: none;
                text-transform: capitalize;
                
                &:hover{
                    color: white;
                }
            }
        }
    }
    .bottom{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 10px;

        .bottom-item{
            box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1);
            height: 330px;
            width: 300px;
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;
            border-radius: 10px;
            // position: relative;

            img{
                height: 150px;
                padding: 5px;
                width: 96.5%;
                border-radius: 10px;
            }

            span{
                text-transform: capitalize;
            }

            .mileage{
                display: flex;
                gap: 5px;
                padding: 5px;
                margin-bottom: 10px;

                .mileage-item{
                    text-transform: capitalize;
                    font-weight: 500;
                }
            }
            .order{
                padding: 5px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .left{
                    button{
                        padding: 5px;
                        border: 1px solid red;
                        border-radius: 5px;
                        background: none;
                        text-transform: capitalize;

                        &:hover{
                            background: red;
                            color: white;
                        }
                    }
                }

                .right{
                    display: flex;
                    gap: 10px;
                    position: relative;
                    top: -10px;

                    .whatsapp{
                        position: absolute;
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                        background-color: #25d366;
                        right: 50px;
                        top: -5px
                    }
                    
                    .whatsapp-icon{
                        color: white;
                        position: absolute;
                        left: -80px;
                        top: 1px;
                    }

                    .phone{
                        position: absolute;
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                        background-color: red;
                        right: 5px;
                        top: -5px;
                    }

                    .phone-icon{
                        position: absolute;
                        color: white;
                        right: 10px;
                        top: 2px;
                    }
                }
            }
        }
    }
}