.navbar{
    background: white;
    height: 110px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 999;

    .top{
        background-color: white;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0px 70px;

        .left{
            img{
                height: 70px;
            }
        }
        .center{
            display: flex;
            align-items: center;
            gap: 10px;

            .icon{
                color: red;
            }

            span{
                color: black;
                font-weight: 500;
                text-transform: capitalize;
            }
        }
        .right{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 40px;

            .phone{
                display: flex;
                align-items: center;
                gap: 10px;

                .icon{
                    color: red;
                }

                span{
                    color: black;
                    font-weight: 500;
                }
            }
            .social{
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 20px;

                .link{
                    text-decoration: none;
                    color: black;

                    .facebook{
                        &:hover{
                            color: #4267b2;
                        }
                    }
                    .twitter{
                        &:hover{
                            color: #1da1f2;
                        }
                    }
                    .instagram{
                        &:hover{
                            color: #d62976;
                        }
                    }
                    .linkedin{
                        &:hover{
                            color: #0072b1;
                        }
                    }
                    .account{
                        &:hover{
                            color: red;
                        }
                    }
                }
            }
        }
    }

    .sticky{
        position: sticky;
        bottom: 0;
    }

    .bottom{
        background-color: #36308d;
        height: 50px;

        .links{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0px 50px;
            padding: 10px;

            .link-item{
                text-decoration: none;

                span{
                    font-weight: 500;
                    color: white;
    
                    &:hover{
                        color: red;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px){
    .navbar{
        width: 100vw;
        overflow-x: hidden;

        .top{
            margin: 0px 5px;
            display: flex;
            justify-content: space-between;
            // gap: 5px;

            .left{
                img{
                    height: 70px;
                    width: 100px;
                }
            }

            .center{
                display: none;
            }

            .right{
                display: flex;
                .phone{}
                .social{
                    display: none;
                }
            }
        }
        .bottom{}
    }
}