*{
    margin:0;
    padding:0;
    text-decoration: none;
}
.container{
    display:flex;
}
main{
    width: 100%;
    padding: 20px;
}
.navbarAdmin{
    background: #4267b2;
    color: white;
    height: 100vh;
    width: 200px;
    transition: all 0.5s;
    position: sticky;
    top: 0;
}
.top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
}
#logo1{
    font-size: 16px;
    font-weight: 500;
}
.bars{
    display: flex;
    font-size: 16px;
    margin-left: 50px;
}
.link{
    display: flex;
    align-items: center;
    color: white;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}
.link_text{
    font-size: 16px;
}

.icon{
    font-size: 16px;
}