.CarTrackingSlide{
    height: 400px;

    .image-wrapper{
        width: 100%;
        height: 400px;
        position: relative;        
        
        img{
            height: 100%;
            width: 100%;
            position: absolute;
        }
    }
}

// mobile phone
@media only screen and (max-width: 768px){
    .CarTrackingSlide{
        margin: 10px 10px;
        overflow-x: hidden;

        .image-wrapper{
            height: 150px;
        }
    }
}