.carMakeSlide{
    // margin: 10px 50px 0px 50px;
    margin: 20px 50px;
    background-color: rgba(0,0,0,0.008);

    .header{
        display: flex;
        align-items: center;
        gap: 10px;

        .highlight{
            height: 40px;
            width: 4px;
            background-color: red;
        }
        h2{
            font-weight: 500;
            text-transform: uppercase;
        }
    }
}