.blogs{
    margin: 10px 50px;
    display: flex;
    justify-content: space-between;
    gap: 20px;

    .left{
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;

        .header{
            display: flex;
            align-items: center;
            gap: 10px;

            .highlight{
                height: 40px;
                width: 4px;
                background-color: red;
            }
    
            h2{
                text-transform: uppercase;
                font-weight: 500;
                font-size: 18px;
            }
        }

        span{
            font-weight: 300;
            margin-top: 20px;
        }

        button{
            padding: 0.625rem;
            color: white;
            background-color: red;
            font-size: 14px;
            text-transform: capitalize;
            font-weight: 500;
            border: none;
            border-radius: 5px;
            width: 200px;
            margin-top: 20px;

            &:hover{
                background-color: rgba(226, 8, 8, 0.877);
            }
        }
    }

    .right{
        flex: 1;
        display: flex;
        justify-content: center;

        img{
            width: 450px;
            // height: auto;
        }
    }
}

// mobilre phone
@media only screen and (max-width: 768px){
    .blogs{
        margin: 10px 10px;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;

        .left{}

        .right{
            
            img{
                width: 90vw;
            }
        }
    }
}